.button {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	font-size: 35px;
	font-weight: 500;
	padding: 20px 27px;
	border: none;
	border-radius: var(--border-radius-m);
	cursor: pointer;
	max-height: 80px;
}

.fullWidth {
	width: 100%;
}

/* Основная кнопка (зеленая) */
.primary {
	background-color: var(--color-accent-green);
	color: var(--color-black);
}

/* Кнопка "Очистить" (черная) */
.clear {
	background-color: var(--color-black);
	color: var(--color-white);
}

/* Основная кнопка (белая) */
.upload {
	background-color: var(--color-white);
	color: var(--color-black);
	padding: 15px 50px;
	border-radius: 10px;
}

/* Состояние disabled */
.disabled {
	background-color: var(--color-accent-gray);
	color: var(--color-primary-gray);
	cursor: not-allowed;
}
